# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1f323fe07f2567225a15b92100a83aa1dc144130cdde2be92c2a6d54e8691c3ed8378fca74c87de411750406ddcb06d5340077929a16cc284f95a7711ca3706f

test:
  secret_key_base: 5199e2a24cd2788bbf9a385d2585bc6ab9567623625c9d48010bcf57e925ffd9532a5b2f1ed79fbb6c0f1178e719e17beb145992f411804f14657c48d9535db6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
